/****Modal Override styles****/
.modal {
  --#{$prefix}modal-box-shadow: #{0 0.5rem 1rem rgba(0, 0, 0, 0.55)};
  --#{$prefix}modal-border-radius: #{none};
}

.modal-open {
  color: black;
  .show {
    background: none;
  }
}

.modal-backdrop {
  background: none;
}

.modal-header {
    border-bottom: none;
    padding-bottom: 1rem;
    h5 {
    font-family: none;
    font-weight: bold;
    font-size: 3.5rem;
    color: #611818;
    margin-bottom: -6rem;
    &:after {
        content: '\00a0';
        background-image: linear-gradient(to right, #611818, #8c4d5b, #ae879c, #d0c3d3, #ffffff);
        border-image-slice: 1;
        background-size: 100% 3px;
        background-repeat: no-repeat;
        float:left;
        width:100%;
    }
  }
  .btn-close {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #611818;
  }
}

.modal-content {
  margin: 3%;
  padding: 6%;
  padding-bottom: 8.5%;
}

.modal-body {
  line-height: 1.9;
}

.modal-dialog {
  margin-left: 6.25%;
}

.red {
  font-family: sans-serif;
  padding: 10px;
}

.modal-footer {
  justify-content: flex-start;
  border-top: none;
  button {
    width: 50%;
    border-radius: 0;
    border: 2px inset #E3E3E3;
  }
}

.btn {
    letter-spacing: 1.5px;
    background: linear-gradient(to right, #611818, #611b18, #611e18, #612118, #612418, #63291a, #662e1d, #683320, #6e3c27, #73452e, #794d36, #7e563e);
    &:focus {
        box-shadow: none;
        background-color: #E5E5E5;
        border-color: #E5E5E5;  
    }
    &:active { 
        background-color: #E5E5E5;
        border-color: #E5E5E5;
    }
    &:hover {
        border: none;
        box-shadow: 0.4rem 0.2rem .6rem rgba(0, 0, 0, 0.45);
        transition: ease .35s; 
    }
}

.btn-close {
    opacity: 1;
    filter: invert(16%) sepia(9%) saturate(4469%) hue-rotate(314deg) brightness(114%) contrast(109%);
    &:focus {
        outline: 0;
        box-shadow: none; 
        opacity: 1;
    }
}

/**** TextBox Responsive Queries ****/
@include media-breakpoint-down(xl) {
  .modal-dialog {
    margin: 0 3% !important;
  }
}

@include media-breakpoint-down(md) {
    .modal-header h5 {
        font-size: 3rem; 
    }
  }

@include media-breakpoint-down(sm) {
    .modal-content {
        margin: 0;
        padding: 3%;
        padding-bottom: 6%;
        .modal-header {
          .btn-close {
            position: absolute;
            top: 7px;
            right: 5px;
            color: #611818;
          }
        }
    .modal-footer {
      justify-content: center !important;
      button {
          width: 100%;
      }
     }
    }
  }
